In [2]:
import pandas as pd 

sales = pd.read_csv('sales.csv')
products = pd.read_csv('products.csv')
stores = pd.read_csv('stores.csv')
categories = pd.read_csv('categories.csv')
warranty = pd.read_csv('warranty.csv')

sales.head(), products.head(), stores.head(), categories.head(), warranty.head()

(   sale_id   sale_date  store_id  product_id  quantity
 0        1  2022-03-29        27         263         1
 1        2  2022-10-04        36         336         3
 2        3  2022-04-28        29         324         2
 3        4  2024-04-02        38         322         4
 4        5  2022-03-24        57         282         4,
    product_id     product_name  category_id launch_date  price
 0           1       Offer Many            7  2024-11-19   1072
 1           2        Down Hair            4  2023-06-10   2021
 2           3        World Its            8  2021-04-05   1496
 3           4  Certain Improve            5  2024-01-03   2309
 4           5    Audience Join            7  2021-12-28    795,
    store_id                  store_name                city           country
 0         1               Miller-Walker       Port Karlland         Sri Lanka
 1         2      Peck, Hughes and Wolfe         South Jerry             Kenya
 2         3               Valdez-Weaver  South Matthewburgh  Saint Barthelemy
 3         4                Chan-Perkins       South Patrick            Zambia
 4         5  Russell, Klein and Johnson           Lake Tina        Seychelles,
    category_id category_name
 0            1      Majority
 1            2     Scientist
 2            3            On
 3            4          Free
 4            5          Sure,
    claim_id  claim_date  sale_id  repair_status
 0         1  2023-09-16   108597  Paid Repaired
 1         2  2023-01-13   850534  Paid Repaired
 2         3  2022-03-14   610086  Paid Repaired
 3         4  2024-06-07   600057  Paid Repaired
 4         5  2024-10-21   326178  Paid Repaired)

In [4]:
sales.shape, products.shape, stores.shape, categories.shape, warranty.shape

((900000, 5), (500, 5), (100, 4), (10, 2), (100000, 4))

In [6]:
sales.info(), products.info(), stores.info(), categories.info(), warranty.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 900000 entries, 0 to 899999
Data columns (total 5 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   sale_id     900000 non-null  int64
 1   sale_date   900000 non-null  object
 2   store_id    900000 non-null  int64
 3   product_id  900000 non-null  int64
 4   quantity    900000 non-null  int64
dtypes: int64(4), object(1)
memory usage: 34.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500 entries, 0 to 499
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    500 non-null    int64
 1   product_name  500 non-null    object
 2   category_id   500 non-null    int64
 3   launch_date   500 non-null    object
 4   price         500 non-null    int64
dtypes: int64(3), object(2)
memory usage: 19.7+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   store_id    100 non-null    int64
 1   store_name  100 non-null    object
 2   city        100 non-null    object
 3   country     100 non-null    object
dtypes: int64(1), object(3)
memory usage: 3.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   category_id    10 non-null     int64
 1   category_name  10 non-null     object
dtypes: int64(1), object(1)
memory usage: 292.0+ bytes
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 4 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   claim_id       100000 non-null  int64
 1   claim_date     100000 non-null  object
 2   sale_id        100000 non-null  int64
 3   repair_status  100000 non-null  object
dtypes: int64(2), object(2)
memory usage: 3.1+ MB

(None, None, None, None, None)

In [7]:
from sqlalchemy import create_engine as ce 

engine = ce('mysql://root:Karandeep2417@localhost:3306/apple_db')
conn = engine.connect()

In [8]:
df_to_sql = sales.to_sql('sales',con=conn,if_exists='replace',index=False)
df_to_sql = products.to_sql('products',con=conn,if_exists='replace',index=False)
df_to_sql = stores.to_sql('stores',con=conn,if_exists='replace',index=False)
df_to_sql = categories.to_sql('categories',con=conn,if_exists='replace',index=False)
df_to_sql = warranty.to_sql('warranty',con=conn,if_exists='replace',index=False)